@model CartPageViewModel


<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
            <div class="card card-shadow border-0 rounded-4 mx-auto" style="border-radius: 15px;">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <!-- Left Column: Products -->
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="d-flex justify-content-between align-items-center mb-5">
                                    <h1 class="fw-bold mb-0">Shopping Cart</h1>
                                    <h6 class="mb-0 text-muted">@Model.OrderItems.Count item(s)</h6>
                                </div>
                                <hr class="my-4">

                                @foreach (var shopGroup in Model.OrderItems.GroupBy(x => x.ShopName))
                                {
                                    <h5 class="fw-bold mb-3">@shopGroup.Key</h5>

                                    @foreach (var item in shopGroup)
                                    {
                                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="@item.ImageUrl" class="img-fluid rounded-3" alt="@item.ProductName" />
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <h6 class="text-muted">@item.ProductName</h6>
                                                <h6 class="mb-0">@item.Color</h6>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                <input min="1" name="quantity" value="@item.Count" type="number" class="form-control form-control-sm" />
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                <h6 class="mb-0">@item.TotalPrice.ToString("C")</h6>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a href="/Cart/Remove/@item.Id"><i class="fas fa-times"></i></a>
                                            </div>

                                        </div>
                                        <hr class="my-4" />
                                    }
                                }

                                <div class="pt-5">
                                    <form id="clearCartForm" method="post" action="/Cart/Clear">
                                        <button id="clearCartButton" class="btn btn-outline-danger">
                                            <i class="bi bi-x-circle"></i> Clear Cart
                                        </button>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <!-- Right Column: Summary -->
                        <div class="col-lg-4 bg-body-tertiary">
                            <div class="p-5">
                                <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                <hr class="my-4">

                                <div class="d-flex justify-content-between mb-4">
                                    <h5 class="text-uppercase">Items</h5>
                                    <h5>@Model.OrderItems.Sum(x => x.Count)</h5>
                                </div>

                                <div class="d-flex justify-content-between mb-4">
                                    <h5 class="text-uppercase">Total Price</h5>
                                    <h5>@Model.TotalAmount.ToString("C")</h5>
                                </div>


                                <div class="d-grid gap-2 mt-3">
                                    <a href="/Cart/Confirm" class="btn btn-success shadow">
                                        <i class="bi bi-search"></i> Proceed to Checkout
                                    </a>
                                    <a href="/Product/Index" class="btn btn-outline-secondary">
                                        <i class="fas fa-long-arrow-alt-left me-2"></i> Back Home
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div> <!-- row g-0 -->
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- col-12 -->
    </div> <!-- row -->
</div> <!-- container -->
@section Scripts {

    <script src="~/js/cart.js"></script>
}