@model SellerViewModel

<div class="container renderCard">
    <div class="card shadow border-0 rounded">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="text-info">My Profile</h2>

        </div>
        <div class="card-body">
 
            <table class="table">
                <tr>
                    <th>Name:</th>
                    <td>@Model.FullName</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <th>Tax Number:</th>
                    <td>@Model.TaxNumber</td>
                </tr>
                <tr>
                    <th>Shop Name</th>
                    <td>@Model.ShopName</td>
                </tr>
                <tr>
                    <th>Shop Address</th>
                    <td>@Model.ShopAddress</td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>@Model.Status</td>
                </tr>
                <tr>
                    <th>Opening Date:</th>
                    <td>@Model.OpeningDate</td>
                </tr>
            </table>
 

        </div>
    </div>
</div>
